{% extends 'base.backoffice.html.twig' %}

{% block title %}Edit Reponse{% endblock %}

{% block body %}
    <h1>Modifier Reponse</h1>

    {{ include('reponse/_form.html.twig', {'button_label': 'Update'}) }}

<br></br>   

{% endblock %}
