<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ban Notification</title>
</head>
<body>
    <h1>Avis de bannissement de votre compte</h1>
    <p>Bonjour {{ user.username }},</p>
    <p>
        Nous vous informons que votre compte a été banni de notre plateforme. Voici la raison : {{ reason }}.
    </p>
    <p>
        Si vous pensez qu'il s'agit d'une erreur ou si vous avez des questions, veuillez contacter notre support à support@votre-domaine.com.
    </p>
    <p>
        Merci pour votre compréhension,
        <br>
        L'équipe de votre site.
    </p>
</body>
</html>
