<style>
    
    .needs-validation {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

   
    .needs-validation input[type="text"],
    .needs-validation textarea,
    .needs-validation select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        box-sizing: border-box;
    }

   
    .needs-validation label {
        display: block; / Ensures labels appear on new lines /
        margin-bottom: 5px; / Adjust spacing between labels and inputs /
        font-weight: bold; / Example: make labels bold /
    }

   
    .needs-validation input[type="radio"] {
        / Example styles: /
        margin-right: 5px; / Adjust spacing between radio buttons /
        vertical-align: middle; / Align radio buttons vertically with labels /
    }

    .btn {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px; / Adjust spacing between button and other elements */
    }
</style>

{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}   
 {{ form_widget(form) }}
    <br></br>
    <button type="submit" class="btn btn-primary">Envoyer</button>
{{ form_end(form) }}
