{% extends 'base.html.twig' %}


{% block title %}New Reclamation{% endblock %}

{% block body %}
<div style="padding-top: 200px;" class="container">
    <h1>Ajouter Une Reclamation</h1>
    <br></br>
    

    {{ include('reclamation/_form.html.twig') }}
</div>
{% endblock %}
