{% extends 'base.backoffice.html.twig' %}

{% block title %}New Espace partenaire{% endblock %}

{% block body %}
    <h1>Create new Espacepartenaire</h1>

    {{ include('Espacepartenaire/_form.html.twig') }}

    <a href="{{ path('app_espacepartenaire_show_accepted') }}">back to list</a>
{% endblock %}
